services:
  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    volumes:
      - ./backend:/app/backend
    env_file: .env
    command: ["bash", "/app/docker/iniciarDocker.sh"]
    depends_on:
      - db
      - redis
      # - ollama  # AGREGAR DEPENDENCIA
    ports:
      - "8000:8000"
    networks:
      - app-network  # AGREGAR NETWORK

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app-network

#   ollama:
#     image: ollama/ollama:latest
#     container_name: ollama
#     restart: always
#     ports:
#       - "11434:11434"
#     volumes:
#       - ollama_data:/root/.ollama
#     networks:
#       - app-network
#     # Comentar esto si no tienes GPU NVIDIA
#     deploy:
#       resources:
#         reservations:
#           devices:
#             - driver: nvidia
#               count: all
#               capabilities: [gpu]

  # frontend:
  #   build:
  #     context: .
  #     dockerfile: docker/Dockerfile.frontend
  #   volumes:
  #     - ./frontend:/app/frontend
  #     - /app/frontend/node_modules
  #   working_dir: /app/frontend
  #   environment:
  #     - CHOKIDAR_USEPOLLING=true
  #     - WATCHPACK_POLLING=true
  #     - VITE_HMR_HOST=${IP_SERVIDOR}
  #     - VITE_HMR_PORT=5173
  #     - VITE_API_URL=http://${IP_SERVIDOR}:8000 #Cambiear esto
  #     - VITE_WS_URL=ws://${IP_SERVIDOR}:8000 #Cambiear esto
  #   command: ["sh", "-c", "npm install && npm run dev -- --host"]
  #   ports:
  #     - "5173:5173"
  #   depends_on:
  #     - backend
  #   networks:
  #     - app-network

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    networks:
      - app-network

volumes:
  postgres_data:
#   ollama_data:  # AGREGAR VOLUMEN PARA OLLAMA

networks:
  app-network:  # AGREGAR NETWORK
    driver: bridge


  # pgadmin:
  #   image: dpage/pgadmin4
  #   container_name: pgadmin
  #   restart: always
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: admin@admin.com
  #     PGADMIN_DEFAULT_PASSWORD: admin
  #   ports:
  #     - "5050:80"
  #   depends_on:
  #     - db
